* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  text-align: center;
}

.btn {
  padding: 10px 30px;
  color: #ffffff;
  background-color: #000000;
  border: 2px solid #000000;
  border-radius: 50px;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  color: #000000;
  background-color: #ffffff;
  border-color: #000000;
}

.btn:active {
  transform: scale(0.75);
  background-color: #00000046;
}

nav {
  display: flex;
  justify-content: space-between;
}

.cta {
  width: 800px;
  margin: 0 auto;
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  margin: 20px auto 0px;
  border: 2px solid #000000;
  border-radius: 50px;
  padding: 5px;
}

.search-left {
  display: flex;
  padding: 10px;
  width: 80%;
}

.search-left input {
  border: 0;
  padding: 0 10px;
  width: 100%;
  outline: none;
}

.social-icons a img {
  width: 24px;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.upper-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upper-footer > div {
  text-align: left;
}

hr {
  margin: 25px 0px;
}

.links {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.links div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.links .column-1 {
  text-align: left;
}
.links .column-4 {
  text-align: right;
}
.links a {
  color: #000000;
  text-decoration: none;
}

.links a:hover {
  font-weight: 700;
  transition: 0.3s;
}
header,
main {
  margin: 20px 50px;
}

footer {
  padding: 60px 50px 30px;
  background-color: #e6e3e3;
}

.cta p {
  margin: 20px 0px;
}
.banner img {
  width: 70%;
  margin: 0 auto;
}

#cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin: 40px 0px 120px;
}
.card {
  border: 2px solid #000000;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-image {
  background-color: #e6e3e3;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.card-image img {
  width: 80%;
  height: auto;
}
.card-title {
  font-size: 25px;
  margin-bottom: 10px;
}
.card-description {
  font-size: 16px;
  margin-bottom: 10px;
}

@media (min-width: 1400px) {
  #cards {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 992px) {
  #cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  #cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  #cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

.loader-container {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.hidden {
    display: none;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 60px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}
